button {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-size: var(--middle-font-size);
  font-weight: var(--min-font-weight);
  border: none;
  padding: 5px 15px;
  color: var(--button-default-color);
}

button:hover,
button:focus {
  background-color: yellow;
  color: var(--button-hover-color);
}

.change {
  background-color: green;
}

.delete {
  background-color: red;
}

.addtask,
.isdone,
.notdone,
.alltasks {
  font-size: 25px;
  background-color: blueviolet;
  margin: 0px auto;
}

.total {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -10px;
  top: -15px;
  color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
  background-color: yellow;
}
