.mainPage {
  font-size: var(--middle-font-size);
  font-weight: var(--min-font-weight);
  width: 700px;
  margin: 0px auto;
  border: 3px solid blueviolet;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.headLine {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: palevioletred;
  margin-bottom: 20px;
}

.noTasks {
  font-size: 20px;
  text-align: center;
  color: var(--no-items-color);
  text-decoration: underline;
  font-weight: 500;
}

.mainButtons {
  display: flex;
  margin-bottom: var(--default-interval);
}
