.mainPage {
  font-size: var(--middle-font-size);
  font-weight: var(--min-font-weight);
}

.headLine {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: palevioletred;
}

.noTasks {
  font-size: 20px;
  text-align: center;
  color: var(--no-items-color);
  text-decoration: underline;
  font-weight: 500;
}
